.main-app {
    width: 80%;
    margin: 0 auto;
}
nav {
    background: #efefef;
    padding: 10px;
}

nav a {
    padding: 5px 15px;
    background: #9de9a7;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}