.dashboard {
    text-align: left;
}
h3{
    padding: 10px 0;
}
ul {
    list-style: none;
}
ul:after {
    display: block;
    content: '\20';
    clear: both;
}
ul li {
    display: block;
    float: left;
    width: 24.25%;
    margin-left: 1%;
    height: 200px;
    background: #efefef;
    text-align: center;
    padding-top: 50px;
}
ul li:first-child {
    margin-left: 0;
}