.container {
    width: 100%;
    text-align: left;
}
.main {
    width: 100%;
    margin: 0 auto;
}
.main:after {
    content: '\20';
    clear: both;
    opacity: 0;
    display: block;
}
.left {
    float: left;
    width: 80%;
    padding: 10px;
}
.right {
    float: right;
    width: 40%;
    border: 1px solid #ccc;
    padding: 10px;
}
.left ul li {
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    background: #ccc;
    cursor: pointer;
}
.left ul li .badge {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #eb87ad;
}
.left ul li.active {
    background: #4d92bc;
}
